.form {
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 500;
    max-width: 396px;
    margin: auto;
    width: 100%;

}

.form__title {
    font-size: 24px;
    line-height: 29px;
    margin: 20px 0 0 0;
    font-weight: 400;

}

.form-label {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}



.form__input {
    background: #F4F4F4;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
}

.form__input:focus {
    outline-width: 0;
    
   
}

.form__save {
    width: 100%;
    background: #3456F3;
    border-radius: 3px;
    margin-top: 69px;
    min-height: 45px;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
}

.form__save:hover {
    background: #143df0;
}

.form__save_signin {
    margin-top: 179px;
}


@media screen and (max-width: 540px) {
    .form__save {
        margin-top: 159px;
        font-size: 12px;
    }

    .form__save_signin {
        margin-top: 250px;
    }
}