.promo {
    min-height: 524px;
    display: flex;
    flex-direction: column;
    background: #DDDEE3;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;

}


.promo__title {
    position: absolute;
    color: #000000;
    font-family: Inter;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    max-width: 730px;
    top: 144px;
}

.promo__image {
    max-width: 320px;
    max-height: 320px;
    margin: 82px 0 122px 0;

}

@media screen and (max-width: 1000px) {
    .promo {
        opacity: 0;
        background: #FAFAFA;
        min-height: 924px;

    }
}