.main {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;


}

.main__section_gray {
    background: #DDDEE3;
}


@media screen and (max-width: 1000px) {
    .main__section_gray {
        background: #FAFAFA;

    }
}
@media screen and (max-width: 540px) {
    .main__section_gray {
        background-color: #DDDEE3;

    }
}

