.serch {
    max-width: 1280px;
    padding: 80px 70px 83px 70px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    border-bottom: 1px solid rgb(170, 170, 170, 0.2) ;

}

.serch__form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.serch__input {
    min-height: 48px;
    opacity: 0.2;
    border: 1.5px solid #AAAAAA;
    border-radius: 50px;
    position: relative;
    width: 100%;
    
    padding: 15px 0 15px 22px;


}

.serch__btn {
    width: 80px;
    height: 34px;
    background: #3456F3;
    border-radius: 48px;
    color: #FFFFFF;
    border: none;
    position: relative;
    right: 69px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;

}