.about-project {
    background: #FAFAFA;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    padding: 110px 70px;

}

.about-project__title {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;


}

.about-project__list {
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    list-style: none;
    display: flex;
    margin-top: 23px;
    
}

.about-project__subtitle {
     margin: 70px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__text {
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 20px;
}

.about-project__spent-time {
    margin-top: 110px;
    display: grid;
    grid-template-columns: 228px auto;
    grid-template-rows: 36px 36px;
    
}

.about-project__time {
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 9px 14px;
  
    
  
}

.about-project__time_short {
    background: #3456F3;
    color: #FFFFFF;
    
}

.about-project__time_long {
    background: #F2F2F2;
 
}

.about-project__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A0A0A0;
    text-align: center;
}