.footer {
    background: #FAFAFA;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 79px 70px 20px 70px;
}

.footer__project-name {
    text-align: center;
    color: #A0A0A0;
    margin: 0 0 20px 0;
}

.footer__block {
    display: flex;
    border-top: 1px solid #E8E8E8;
    justify-content: space-between
}

.footer__copyright {
    margin: 20px 0;
}

.footer__links {
    display: flex;
    list-style: none;

}

.footer__link {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

@media screen and (max-width: 1000px) {
    .footer {
        background: #FAFAFA;
        padding: 79px 30px 20px 30px;
    }

    .footer__copyright {
        margin: 20px 0 0 0;
    }
    .footer__links {
       margin-top: 20px;
    
    }
}