.techs {
    background: #F5F5F5;
    padding: 100px 70px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.techs__discription {
    border-top: 1px solid black;
    margin-top: 23px;

}

.techs__title {
     margin: 90px 0 0 0;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;

}

.techs__text {
    margin: 26px 0 0 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;

}

.techs__list {
    list-style: none;
    margin: 100px 0 0 0;
    display: flex;
    justify-content: center;
    
}

.techs__item {
    background: #E8E8E8;
    border-radius: 10px;
    width: 90px;
   
    margin-left: 10px;
    padding: 21px 0 22px 0;
    text-align: center;
}

.techs__item:first-child {
    margin:0;
}
