.login {
    font-family: "Inter", "Arial", "sans-serif";
    font-style: normal;
    font-weight: 500;
    padding: 70px 0;
    margin: auto;
    max-width: 396px;

}

.login__title {
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0;
    font-weight: 400;

}

.login__sign-in {
    margin-top: 16px;
    display: flex;
    justify-content: center
}

.login__sign-in-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    color: #A0A0A0;
}

.login__sign-in-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #3456F3;
    margin-left: 6px;
    text-decoration: none;
}

@media screen and (max-width: 1000px) {
    .login {
        padding: 232px 0;
    }
}

@media screen and (max-width: 540px) {
    .login {
        padding: 56px 30px 30px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .login__title {
        margin: 50px 0 60px 0;

    }

    .login__sign-in {
        margin-top: 13px;

    }

    .login__sign-in-text {
        font-size: 12px;
    }

    .login__sign-in-link {
        font-size: 12px;

    }
}